@import "tailwindcss";

@layer base {
  body {
    font-family: "\"Noto Sans JP\"", "\"游ゴシック\"", "\"Yu Gothic\"", sans-serif;
  }
}

@layer components {
  .section {
    @apply scroll-mt-32 lg:scroll-mt-24;
  }

  .inner {
    @apply max-w-6xl mx-auto px-6;
  }

  .heading {
    @apply ps-3 border-s-6 border-s-gray-200 font-bold text-2xl;
  }

  .map {
    height: 80svh;
  }

  .markdown {
    h3 {
      @apply mt-6 mb-3 font-bold text-2xl;
    }

    h3::before {
      content: "■ ";
      @apply text-sky-400;
    }

    h4 {
      @apply my-3 font-bold text-xl;
    }

    h4::before {
      content: "◎ ";
      @apply text-orange-400;
    }

    ul {
      @apply list-disc ps-6;
    }

    p, ul {
      @apply my-3;
    }

    p, li {
      @apply text-base/8;
    }

    li > ul {
      list-style-type: circle;
    }

    strong {
      @apply border-b border-dashed;
    }
  }

  .table {
    @apply w-1/1 min-w-3xl;

    thead > tr {
      @apply bg-white;
    }

    tbody > tr {
      @apply transition-colors;
    }

    tbody > tr:hover {
      @apply bg-white;
    }

    tr:has(.is-done) {
      @apply bg-green-50;
    }

    tr:has(.is-doing) {
      @apply bg-sky-50;
    }

    tr:has(.is-hold) {
      @apply bg-gray-50;
    }

    th {
      @apply border-y border-y-gray-200 p-3 text-left;
    }

    td {
      @apply border-b border-b-gray-200 p-3;
    }

    td.is-critical {
      @apply text-red-400 font-bold;
    }

    td.is-heigh {
      @apply text-orange-400 font-bold;
    }

    td.is-meddle {
      @apply text-yellow-400;
    }

    td.is-large, td.is-medium {
      @apply font-bold;
    }

    td.is-done {
      @apply text-green-400 font-bold;
    }

    td.is-doing {
      @apply text-sky-400 font-bold;
    }
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 0 2px 6px #000;
  }
}
